

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

label {
    margin: 15px;
    font-weight: 600;
    color: #555;
}
input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}


.emoji-button:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 15px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.emoji-button {
    padding: 5px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.add-todo-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    display: block;
    margin: auto;
}

.emoji-preview {
    font-size: 24px;
    margin-left: 10px;
}
