
.container {
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.todo-item { 
  list-style: none;
  background-color: #dfbdbd;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0,
  0, 0.1);
  margin-bottom: 10px;
  display: flex-start;
  justify-content: center;
  align-items: center;
}

.todo-title {
  font-size: 15px;
  color: #333;
}

.todo-done {
  text-decoration: line-through;
  color: #999;
}

.add-todo-button {
  text-align: center;
  margin-top: 20px;
}


.btn {
  padding: 10px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
 
.btn:hover {
  background-color: #218838;
}

.del-btn {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

img {
  width: 30px;
  height: 30px;
}

.priority {
  font-weight: 600;
  color: #555;
}

.created-at {
  font-weight: 400;
  color: #777;
}

.take-action {
  margin-left: auto;

  display: flex;


  gap: 15px;  
  align-items: center;
  justify-content: space-between;
}